import(stats)
import(numDeriv)
import(sdprisk)

importFrom('methods', 'is')
importFrom('utils', 'tail')

export(rriskproc)
export(ruinprob.finite.dsim)
export(ruinprob.finite.imps)
export(ruinprob.finite.sdp)
